body {
    background-color: rgb(240, 240, 240);
    font-family: 'Anton', sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
p {
    font-family: 'Abel', sans-serif;
}

.design {
    background-color: #E6563B;
    border-radius: 50%;
    border: 15px solid white;
    width: 100%;
}

.develop {
    background-color: rgb(222, 160, 61);
    border-radius: 50%;
    border: 15px solid white;
    width: 100%;
    height: auto;
}

.host {
    background-color: #00ABA9;
    border-radius: 50%;
    border: 15px solid white;
    width: 100%;
    height: auto;
}

.support {
    background-color: #7CB06C;
    border-radius: 50%;
    border: 15px solid white;
    width: 100%;
    height: auto;
}

.text {
    /*position: relative;*/
    /*!*top: 50%;*!*/
    /*right: 50%;*/

    font-size: 15%;
    text-align: center;
    color: white;
}
#appleandipad{
    border: 10px rgb(230,230,230) solid;
    border-radius: 5px;
}

/*EXTRA SMALL SCREEN*/

@media screen and (max-width:576px) {


    .design {
        height:15em;
        width:15em;
        border: 10px solid white;
        margin-left: 2em;
    }

    .develop {
        height: 15em;
        width:15em;
        border: 10px solid white;
        margin-left: 1em;

    }

    .host {
        height:15em;
        width: 15em;
        border: 10px solid white;
        margin-left: 1em;

    }

    .support {
        height:15em;
        width:15em;
        border: 10px solid white;
        margin-left: 2em;
    }
    .selected-work{
        text-align: center;
        padding-top: 10em;
        font-size: 2em;
    }
}