body {
    background-color: rgb(240, 240, 240);
    font-family: 'Anton', sans-serif;
}
h1 {
    text-align: center;
    font-size: 64px;

}

h2 {
    text-align: center;
    font-size: 48px;
}

h3 {
    font-size: 40px;
    text-align: center;
}

h4 {
    font-size: 32px;
    text-align: center;
}

h5 {
    font-size: 28px;
}

p {
    font-family: 'Abel', sans-serif;
}

div p {
    font-size: 11px;
}

.design {
    background-color: #E6563B;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 15px solid white;

}

.develop {
    background-color: rgb(222, 160, 61);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 15px solid white;
}

.host {
    background-color: #00ABA9;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 15px solid white;
}

.support {
    background-color: #7CB06C;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 15px solid white;
}

.text {
    position: relative;
    top: 34%;
    font-size: 20px;
    text-align: center;
    color: white;
}
.circle{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: inline-block;
}
.icon{
    position: relative;
    top: 13%;
    font-size: 10px;
    text-align: center;
}

#red {
    background-color: #E6563B;
}

#yellow{
    background-color: #EB9D3A;
}
#green{
    background-color: #7CB06C;
}
#blue{
    background-color: #00ABA9;
}
#appleandipad{
    border: 10px rgb(230,230,230) solid;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}
#macipad {
    border: 10px rgb(230,230,230) solid;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

#binaryman {
    border: 10px rgb(230,230,230) solid;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

#security {
    border: 10px rgb(230,230,230) solid;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

#mobile-phone {
    height: 56px;
    width: auto;
}

#head {
    height: 56px;
    width: auto;
}

#ipad {
    height: 56px;
    width: auto;
}


/*EXTRA SMALL SCREEN*/

@media screen and (max-width:576px) {
    #macipad {
    display: none;
    }
    #binaryman {
        display: none;
    }
    #security {
        display: none;
    }
    .selected-work {
        text-align: center;
        margin-top: 150px;
    }
    .hide{
        display: none;
    }

    .sidebar {
        display: none;
    }

    div p{
        font-size: 15px;
    }

}

/*SMALL SCREEN*/

@media screen and (max-width: 768px) and (min-width: 577px) {
    .selected-work {
        text-align: center;
        border-top: solid 1px lightgray;
        padding: 30px;
        margin: 30px;
    }

    .sidebar {
        display: none;
    }

    #headersmall {
        margin: 0;
        margin-left: 15%;
        padding: 0;=
        justify-content: center;
        text-align: center;
    }
    h1 {
        text-align: center;
        margin: 0;
        padding: 0;
    }
    div p {
        margin-left: -20%;
    }


}

/*MEDIUM SCREEN*/

@media screen and (max-width: 992px) and (min-width: 768px){
    div p {
        font-size: 8px;
        margin-left: -20%;
    }

    .circle{
        height: 18px;
        width: 18px;
        border-radius: 50%;
        display: inline-block;
    }
}

/*LARGE/EXTRA LARGE SCREEN*/

@media screen and (max-width: 1200px) and (min-width: 769px){

}