body {
    background-color: rgb(240, 240, 240);
    font-family: 'Anton', sans-serif;
}
h1 {
    text-align: center;
    font-size: 64px;

}

h2 {
    text-align: center;
    font-size: 48px;
}

h3 {
    font-size: 40px;
    text-align: center;
}

h4 {
    font-size: 32px;
    text-align: center;
}

h5 {
    font-size: 28px;
}

p {
    font-family: 'Abel', sans-serif;
}

div p {
    font-size: 11px;
}
li{
    list-style: none;
}
ul{
    position: relative;
    top: 0%;
    right: -25%;
}
.design {
    background-color: #E6563B;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 7px solid white;
}

.develop {
    background-color: rgb(222, 160, 61);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 7px solid white;
}

.host {
    background-color: #00ABA9;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 7px solid white;
}

.support {
    background-color: #7CB06C;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 7px solid white;
}

.text {
    position: relative;
    top: 34%;
    font-size: 20px;
    text-align: center;
    color: white;
}

.circle{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: inline-block;

}

.icon{
    position: relative;
    top: 13%;
    font-size: 10px;
    text-align: center;
}


.red {
    background-color: #E6563B;
}

.yellow {
    background-color: #EB9D3A;
}

.green {
    background-color: #7CB06C;
}

.blue {
    background-color: #00ABA9;
}
#appleandipad{
    border: 10px rgb(230,230,230) solid;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}
#macipad {
    border: 10px #E6E6E6 solid;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

#binaryman {
    border: 10px #E6E6E6 solid;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

#security {
    border: 10px #E6E6E6 solid;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

#mobile-phone {
    height: 56px;
    width: 54px;
    border-sizing: border-box;
    border: 4px solid #E6E6E6;
    border-radius: 5px;
    overflow: hidden;
}

#head {
    height: 56px;
    width: 54px;
    border-sizing: border-box;
    border: 4px solid #E6E6E6;
    border-radius: 5px;
    overflow: hidden;
}

#ipad {
    height: 56px;
    width: 54px;
    border-sizing: border-box;
    border: 4px solid #E6E6E6;
    border-radius: 5px;
    overflow: hidden;
}

#last {
    font-size: 14px;
    margin-left: 5px;
    /*margin: 0px 0px 10px 0px;*/
}

#selected {
    font-size: 14px;
    margin: 0;
}

#twitterlogo {
    height: 35px;
}

#tweet {
    margin-top: 9px;
    margin-left: -10px;
    font-weight: bold;
}
#codeupdesignlogo{
    height: 105px;
    width: 105px;
}
#codeupdesign{
    font-size: 40px;
    position: relative;
    right: 18%;

}
#whitebar{
    background-color: white;
    width: 100%;
    height: 50px;
    position: relative;
    top: 75px;
}
#twitterpara{
    margin-left: 0;
}
#selectedandlast{
    border-top: rgb(204,204,204) solid 1px;
    padding-top: 40px;
}


/*EXTRA SMALL SCREEN*/

@media screen and (max-width:576px) {
    #macipad {
    display: none;
    }

    #binaryman {
        display: none;
    }

    #security {
        display: none;
    }

    #selected {
        text-align: center;
        margin: 0;
    }

    #last {
        display: none;
    }

    .selected-work {
        text-align: center;
        margin-top: 150px;
    }

    .hide{
        display: none;
    }

    .sidebar {
        display: none;
    }

    div p{
        font-size: 15px;
    }
    .design{
        position: relative;
        right: -37px;
    }
    .support{
        position: relative;
        right: -37px;
    }
    .develop {
        position: relative;
        right: 20px;
    }

    .host {
        position: relative;
        right: 20px;
    }

    #selectedandlast {
        border-top: none;
    }

}

/*SMALL SCREEN*/

@media screen and (max-width: 767px) and (min-width: 577px) {
    .selected-work {
        text-align: center;
        border-top: solid 1px lightgray;
        padding: 30px;
        margin: 30px;
    }

    .sidebar {
        display: none;
    }

    #headersmall {
        margin: 0;
        margin-left: 15%;
        padding: 0;
    = justify-content: center;
        text-align: center;
    }

    #selected {
        text-align: center;
        margin: 0;
    }

    #last {
        display: none;
    }

    #logotop {
        position: relative;
        right: 55px;
    }

    #codeupdesign {
        position: relative;
        left: 20px;
    }

    h1 {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    div p {
        margin-left: -20%;
    }

    .links {
        margin-top: 40px;
    }
}

/*MEDIUM SCREEN*/

@media screen and (max-width: 992px) and (min-width: 768px){
    div p {
        font-size: 8px;
        margin-left: -20%;
    }

    .circle{
        height: 18px;
        width: 18px;
        border-radius: 50%;
        display: inline-block;
    }

    .links {
        margin-top: 40px;
        margin-right: 2px;
        position: relative;
        top: 6px;
        right: 8px;
    }

    .links:hover {
        color: #E6563B;
    }

    #codeupdesign{
        position: relative;
        top: -85px;
        right: -66px;
    }
    #codeupdesignlogo{
        position: relative;
        top:0;
        right: 96px;
    }
    #services{
        margin-right: -142px;
    }
    #work{
        margin-right: -72px
    }
    #blog{
        margin-right: -66px
    }
    #contact{

    }

}

/*LARGE/EXTRA LARGE SCREEN*/

@media screen and (max-width: 1600px) and (min-width: 992px){

    .circle{
        height: 18px;
        width: 18px;
        border-radius: 50%;
        display: inline-block;
    }

    .links {
        margin-top: 40px;
        margin-right: 2px;
        position: relative;
        top: 6px;
        right: 8px;
    }

    #codeupdesign{
        position: relative;
        top: -85px;
        right: 28px;
    }
    #codeupdesignlogo{
        position: relative;
        top:0;
        right: 140px;
    }

    #services {
        margin-right: -142px;
    }

    #work {
        margin-right: -72px
    }

    #blog {
        margin-right: -66px
    }

    #contact {
    }

    #mover{
        position: relative;
        right: -48px;
    }

}